<h3 class="text-center pb-4 pt-2">COMUNICADO INTERNO</h3>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Título:</th>
            <th scope="col">Remetente</th>
            <th scope="col">Destinatário:</th>
            <th scope="col">Status</th>
            <th scope="col">Ações:</th>
        </tr>
    </thead>
    <tbody>
        {{#each notes}} <!--Instrução handlebars Faer alguma coisa em cada nota-->
        <tr>
            <td scope="row">{{ @index }}</td>
            <td class="title-column"><a href="notes/{{ this._id }}">{{ this.description.assunto}}</a></td>
             <td class="title-column"><a href="notes/{{ this._id }}">{{ this.remetente}}</a></td>
              <td class="title-column"><a href="notes/{{ this._id }}">{{ this.destinatario}}</a></td>
            <td><span class="badge bg-success">Atendida</span></td>
            <td class="actions-column d-flex">
                <a href="notes/edit/{{ this._id }}" class="btn btn-primary">Editar</a>
                <form action="notes/delete" method="POST">
                    <input type="hidden" name="id" value="{{ this._id }}">
                    <input type="submit" class="btn btn-danger" value="Excluir">
                 </form>
            </td>
        </tr>
        {{ else }}
            <p>Não há notas no sistema ainda, <a href="notes" > Click aqui para adicionar.</a></p>
        {{/each }} <!--Termina de fazer -->
    </tbody>

</table>